@model Event.Models.Booking

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Booking</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Event_Rez.Event_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Event_Rez.Event_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ticket.Ticket_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ticket.Ticket_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Start_dates)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Start_dates)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.End_dates)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.End_dates)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
